<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${update == 'update'} ? 'Modifier étudiant' : 'ajout étudiant'"></h1>

<form th:action="${update == 'update'} ? @{/update(etudiantId=${etudiant.id})} : @{/add}" th:object="${etudiant}" method="post">
    <div>
        <label for="name">Nom de l'étudiant</label>
        <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="surname">Prenom de l'étudiant</label>
        <input type="text" id="surname" th:field="*{surname}">
    </div>
    <div>
        <label for="age">Age de l'étudiant</label>
        <input type="number" id="age" th:field="*{age}">
    </div>
    <div>
        <label for="email">Email de l'étudiant</label>
        <input type="text" id="email" th:field="*{email}">
    </div>
    <button>Valider</button>
</form>
</body>
</html>