<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Accueil</h1>
<div><a href="/list">Liste des étudiants</a></div>
<div><a href="/subscribe">Inscrire un nouvel étudiant</a></div>
<div><p></p></div>
<div><a href="/search?name=Rambo">Rechercher John Rambo</a></div>
<div><a href="/search?name=Connor">Rechercher John Connor</a></div>
<div><a href="/search?name=Mclane">Rechercher John Mclane</a></div>
</body>
</html>