<div class="main">
    <div class="container">
        <h1 class="">Mon compteur</h1>
        <hr>
        <div class="compteur">
            <h2 [class]="isPair ? colorGreen : colorRed">{{count}}</h2>
        </div>
        <div>
            <button class="pointer-events-auto ml-8 rounded-md bg-indigo-600 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500" (click)="decrementer()"> < décrémenter  </button>
            <button class="pointer-events-auto ml-8 rounded-md bg-indigo-600 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500" (click)="incrementer()">  incrémenter > </button>
    </div>
    </div>
</div>