.red {
    color: red;
}

.green {
    color: green;
}

.container {
    text-align: center;
    width: 50%;
    border: 2px solid;
    padding: 10px;
    border-radius: 20px;
}

.main {
    margin-top: 50px;
    display:flex;
    justify-content: center;
}

.button {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    background-color: rgb(126, 57, 190);
    color: white;
    padding: 10px;
}

.compteur {
    font-size: 40px;
}

.title {
    font-size: 30px;
}