<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<!-- NAVBAR -->
<span th:replace="~{home :: navbar}"></span>


<!-- BODY -->
<div class="container">
<h2>CONNEXION</h2>
<form th:action="@{/login}" method="post" >
    <div class="mb-3">
        <label for="username">Username :</label>
        <input id="username" class="form-control" type="text" name="username" placeholder="username" >
    </div>
    <div class="mb-3">
        <label for="password">Password :</label>
        <input id="password"  class="form-control" type="password" name="password" placeholder="password">
    </div>
        <button class="btn btn-primary" >Connexion</button>
</form>
</div>

<!-- FOOTER -->
<span th:replace="~{home :: footer}"></span>

</body>
</html>