<nav class="main-navbar">
    <h2><strong>MENU</strong></h2>
    <ul class="navbar">
        <li class="navbar-list">
            <a routerLink="/counter">Counter</a>
        </li>
        <li class="navbar-list">
            <a routerLink="/series">Series</a>
        </li>
        <li class="navbar-list">
            <a routerLink="/library">Library</a>
        </li>
        <li class="navbar-list">
            <a routerLink="/pokemon">Pokemon</a>
        </li>
        <li class="navbar-list">
            <a routerLink="/chuck">Chuck Norris Facts</a>
        </li>
    </ul>
</nav>
<hr>