<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:replace="~{home :: bootstrapImport}">
</head>
<body>
<!-- NAVBAR -->
<span th:replace="~{home :: navbar}"></span>

<!-- need String Mode, need User user-->
<main>
    <div class="container">
        <h1 th:text="${mode.equals('log')} ? 'Log In :' : 'Register :'"></h1>
        <form th:action="@{{act}(act=${mode.equals('log')}? '/login' : '/registration')}" method="post" th:object="${user}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="username" hidden="hidden"></label>
                <input class="form-control" id="username" type="text" placeholder="username" th:field="*{username}">
            </div>
            <div class="mb-3">
                <label for="password" hidden="hidden"></label>
                <input class="form-control" id="password" type="text" placeholder="password" th:field="*{password}">
            </div>
            <div class="mb-3">
                <label for="email" hidden="hidden"></label>
                <input class="form-control" id="email" type="text" placeholder="example@email.com" th:field="*{email}">
            </div>
            <div class="mb-3">
                <label for="image" hidden="hidden"></label>
                <input class="form-control" id="image" type="file" name="image" th:field="*{imgPath}">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" th:text="${mode.equals('log')} ? 'Log In' : 'Register'"></button>
            </div>
        </form>
        <a th:if="${mode.equals('log')}" class="btn btn-secondary" th:href="@{/registration}">Create Account</a>
        <a th:unless="${mode.equals('log')}" class="btn btn-secondary" th:href="@{/login}">I Have an Account</a>
    </div>
</main>

<!-- FOOTER -->
<th:block th:fragment="footer">
    <div>
    </div>
</th:block>
</body>
</html>